body{
    font-family: 'Roboto Slab', serif;
    background-color: aliceblue;
}

.header_div{
    background-color: bisque;
    color: blue;
}

.header_div p{
    font-family:'Roboto Slab', serif ;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:12px ;
}

.main_div button{
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.footer{
background-color: aquamarine;
color: brown;
width: 100%;
font-size: 18px;
text-align: center;
position: fixed;
bottom: 0;
}